body {
    background: #020617;
    background-image:
        linear-gradient(to right, rgba(71,85,105,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(71,85,105,0.3) 1px, transparent 1px),
        radial-gradient(circle at 50% 50%, rgba(139,92,246,0.15) 0%, transparent 70%);
    background-size: 32px 32px, 32px 32px, 100% 100%;
    color: #c3cee2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px; /* Add padding for smaller screens */
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
}

.container {
    width: 100%;
    max-width: 500px;
    background: radial-gradient(circle 600px at 50% 50%, rgba(0, 0, 0, 0.66));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Amarante", serif;
    font-style: normal;
    font-size: 35px;
    color: #c3cee2;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fefefe;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #07932c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s ease;
}

button:hover {
    background: #b40897;
}

#weather-info{
    margin-top: 20px;
    font-size: x-large;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 899;
    font-style: normal;
}

.hidden{
    display: none;
}

#error-message{
    color:rgba(255, 0, 0, 0.66);
    margin-top: 20px;
}

/* Footer styling */
        .footer-text {
            text-align: center;
            margin-top: 30px;
            font-size: 12px;
            color: #777;
        }

        a{
            color: #fff;
            text-decoration: none;
        }

/* Media Queries for Responsiveness */

/* For screens smaller than 600px */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 28px;
        flex-direction: column; /* Stack h1 content on small screens */
        text-align: center;
    }

    .input-container {
        flex-direction: column; /* Stack input and button */
        padding-left: 0;
        border-radius: 10px; /* Adjust border-radius for stacked layout */
    }

    input {
        width: 100%;
        padding: 15px;
        text-align: center;
        border-radius: 10px;
        border-bottom: 1px solid #ccc;
    }
    
    button {
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
    }
    
    
}